
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.border-box {
    width: 100%;
    height: 100vh; 
    background-color: rgb(186, 46, 130);
    
  
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.toplog {
   
    margin-bottom: 20px;
    text-align: center;
}

.page-name h1 {
    margin: 0;
    color: white;
    font-size: 32px;
}

.top-un-ps {
    width: 350px;
    height: 350px;
    background-color: yellow;
    border-radius: 50px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px black; 
}

.label {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    font-weight: bold;
}

.UP {
    width: 250px;
    height: 30px;
    margin-top: 5px;
    padding-left: 5px;
}

button {
    width: 260px;
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: #333;
}
